

.status {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 0.5rem;
}

#in-progress, #completed {
    margin-left: 1rem;
    background-color: #e5e5e5;
}

.todo {
    display: flex;
    list-style: none;
    font-size: 1.0rem;
    padding: 1.0rem;
}

.todo:hover {
    background-color:darkgray;
}

.check-box {
    width: 10%;
    cursor: pointer;
}

.todo-text {
    width: 80%;
}

.tool-box {
    width: 10%;
    cursor: pointer;
}